<div class="container photo">
  <div class="row justify-content-md-center">
    <div class="col-7">
      <div class="card">
        <% if @photo.image.attached? %>
          <img class="card-img-top" src="<%= url_for(@photo.image) %>" alt="Card image cap">
        <% end %>
        <div class="card-body" style="padding-bottom:0">
          <h5 class="card-title" style="text-align:center"><%= @photo.title %></h5>
          <p class="card-text"><%= @photo.description %></p>
          <p class="card-text float-left"><small class="text-muted">by <%= @photo.user.username %></small>
          <p class="card-text float-right"><small class="text-muted"><%= time_ago_in_words(@photo.updated_at) %> ago</small></p>
        </div>
      </div>
    </div>

    <div class="col-5">
      <ul class="list-group show-comment">
        <% @comments.each do |comment| %>
          <li class="list-group-item">
            <% if comment.user.avatar.attached? %>
              <span><img class="card-img-top" id="avatar-small" src="<%= url_for(comment.user.avatar) %>"></span>
            <% end %>
            <%= comment.user.username %>: <%= comment.body %>
            <small class="text-muted float-right"><%= time_ago_in_words(comment.updated_at) %> ago</small>
          </li>
        <% end %>
      </ul>
      <div>
        <%= form_for([@photo, @photo.comments.build], html: {class: "show-photo"}) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <%= f.submit "Comment", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
